<div class="nk-sidebar" id="cus-nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Administrador</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href=<%= users_new_path %>>Registrar usuario</a></li>
                    <li><a href=<%= users_show_path %>>Administrar usuario</a></li>
                </ul>
            </li>

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Digitalizaci贸n</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href=<%= digitals_new_path %>>Nuevo registro</a></li>
                    <li><a href=<%= digitals_show_path %>>Consultar</a></li>
                </ul>
            </li>

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Indizaci贸n</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href=<%= indizacions_show_path %>>Consultar</a></li>
                </ul>
            </li>

            <li class="mega-menu mega-menu-sm">
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Verificaci贸n Indizaci贸n</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href=<%= reviews_manager_review_path %>>Consultar Documentos</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>